.question1 {
  color: black;
  background-color: lightblue;
}

.question2 {
  color: black;
  background-color: lightgreen;
}

.question3 {
  color: black;
  background-color: pink;
}
.question4 {
  color: black;
  background-color: rgb(250, 250, 146);
}
.question5 {
  color: black;
  background-color: lightcoral;
}

.bluebg {
  background-color: lightblue;
}

.yellowbg {
  background-color: rgb(250, 250, 146);
}

.purplebg {
  background-color: rgb(167, 167, 204);
}

#outputjs img {
  width: 15%;
  height: auto;
  margin-top: 15px;
  border: 2px solid black;
}

#outputpython img {

}

#outputc#
/* .btn {
  background-color: blue;
} */